* {
  box-sizing: border-box;
}

html {
  --bg: #fff;
  --fg: #25282A;
  --gray: #888;
  --royal: #d77c7c;
  --blue: #e36a6a;
  --primary: #D1CCBD;
  --secondary: var(--royal);

  background-color: var(--bg);
  color: var(--fg);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: calc(.65em + 0.7vw);
  line-height: 1.3;


  @media (prefers-color-scheme: dark) {
    --bg: #25282A;
    --fg: #fff;

    ::selection {
      background: var(--secondary);
      color: var(--fg);
    }
  }
}

body {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 45em;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

header {
  margin-bottom: 1rem;
}

.highlight {
  align-items: center;
  display: flex;
  margin-bottom: 0.5em;
  width: 100%;
  label {
    margin-right: 0.5em;
  }
}

label {
  color: var(--gray);
}

button, .highlight {
  border-radius: 5px;
  border-color: var(--primary);
  border: 0.1em solid var(--primary);
  padding: 0.5em 1em;

  &:hover, &:focus, &:focus-within {
    border-color: var(--secondary);
  }
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
}

input {
  border: none;
  flex: 1;
  &:read-only {
    color: var(--primary)
  }
}

input[type="number"] {
  text-align: center;
  border-bottom: 0.1em solid var(--primary);
  margin: 0 1em;
  width: 4em;
  padding-left: 0.5em;
}

button, input {
  background: transparent;
  color: inherit;
  font: inherit;
  outline: none;
}

button {
  position: relative;
  transition: top 50ms;
  &:hover, &:focus {
    top: -1px;
    cursor: pointer;
  }
  &:active {
    background: var(--secondary);
    border-color: var(--secondary);
    top: 1px;
  }
}

.is-premium {
  border-left: 0.25em solid var(--secondary);
  padding-left: 0.25em;
  margin-left: -0.5em;
}

.centered {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.spaced {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
}

.left-panel {
  flex: 6;
}

.right-panel {
  flex: 4;
}

h2 {
  margin-top: 0px;
}

.game-info h3 {
  margin-top: 5px;
  margin-bottom: 15px;
}

.game-info h4 {
  margin-top: 10px;
  color: #888;
}

.game-info h6 {
  color: #888;
  margin: 0
}